body {
    padding: 0;
    margin: 0;
}

.App {
    text-align: center;
}

.course-list span {
    display: block;
}

.superhero-list {
    list-style: none;
}

.superhero-list li {
    margin: 1rem 0;
    display: flex;
    justify-content: space-around;
}

.superhero-list li span {
    flex-grow: 1;
}
